<div id="show-budget-info">
  <h3>{{month}} Budget</h3>
  <p>Income: {{budget.income}}</p>
  <p>Budget: {{budget.month_budget}}</p>
  <p>Total Spent: {{total}}</p>
  <p>Total Remaining: {{remainder}}</p>
  <form data-id="{{budget.id}}" class="delete-budget">
    <input type="number" value="{{budget.id}}" name="budget[id]" hidden>
    <input type="submit" class="btn-default btn-xs" value="Delete Budget">
  </form>
  <br>

  <button type="button" id="update-budget-modal-button" class="btn-xs btn-default" data-toggle="modal" data-target="#update-budget-modal">Update Budget</button>
  <br>
  <button type="button" id="add-expense-modal-button" class="btn-xs btn-default" data-toggle="modal" data-target="#add-expense-modal">Add Expense</button>

<!-- UPDATE BUDGET MODAL START -->
  <div class="modal fade" id="update-budget-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Month Budget</h4>
        </div>
        <div class="modal-body">
          <form id='update-budget'>
            <input type="number" name="budget[id]" value="{{budget.id}}" hidden>
            <input type="number" step=".01" name="budget[income]" placeholder="monthly income" required>
            <input type="number" step=".01" name="budget[month_budget]" placeholder="budget" required>
            <input type="text" value="{{budget.start_date}}" name="budget[start_date]" hidden required>
            <input type="submit" class="btn-xs btn-default" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- UPDATE BUDGET MODAL END -->

<!-- ADD EXPENSE MODAL START -->
<div class="modal fade" id="add-expense-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Expense</h4>
      </div>
      <div class="modal-body">
        <form id="create-expense">
          <input type="number" name="expense[budget_id]" value="{{budget.id}}" hidden>
          <input type="date" name="expense[date]" min={{budget.start_date}} max={{endDay}} required>
          <input type="number" step=".01" name="expense[cost]" placeholder="Cost of Expense" required>
          <select name="expense[expense_category]" required>
            <option value="" disabled selected hidden>Expense Type</option>
            <option value="Rent">Rent</option>
            <option value="Utilities">Utilities</option>
            <option value="Groceries">Groceries</option>
            <option value="Auto/Transportation">Auto/Transportation</option>
            <option value="Shopping/Entertainment">Shopping/Entertainment</option>
            <option value="Restaurant/Dining">Restaurant/Dining</option>
            <option value="Medical">Medical</option>
            <option value="Eduation">Education</option>
          </select>
          <input type="submit" class="btn-xs btn-default" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ADD EXPENSE MODAL END -->
{{log expense}}
<!-- UPDATE EXPENSE MODAL START -->
<div class="modal fade" id="update-expense-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Expense</h4>
      </div>
      <div class="modal-body">
        <form id="update-expense">
          <!-- <input type="number" name="expense[id]" value="{{expense.id}}"> -->
          <input type="date" name="expense[date]" min={{budget.start_date}} max={{endDay}} required>
          <input type="number" step=".01" name="expense[cost]" placeholder="Cost of Expense" required>
          <select name="expense[expense_category]" required>
            <option value="" disabled selected hidden>Expense Type</option>
            <option value="Rent">Rent</option>
            <option value="Utilities">Utilities</option>
            <option value="Groceries">Groceries</option>
            <option value="Auto/Transportation">Auto/Transportation</option>
            <option value="Shopping/Entertainment">Shopping/Entertainment</option>
            <option value="Restaurant/Dining">Restaurant/Dining</option>
            <option value="Medical">Medical</option>
            <option value="Eduation">Education</option>
          </select>
          <input type="submit" class="btn-xs btn-default" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>


<div id="expense-content" >
<hr>
  <h4>Expenses</h4>
  <form id="index-expenses" hidden>
    <input type="submit" id='index-button' value="View Expenses">
  </form>
    <div id="expense-view" data-id="{{budget.id}}">
      {{#each expense as |expense|}}
        <p>Date: {{expense.date}}</p>
        <p>Cost: {{expense.cost}}</p>
        <p>Type: {{expense.expense_category}}</p>
        <button type="button" id="update-expense-modal-button" class="btn-xs btn-default update-expense-modal-button" data-id="{{expense.id}}" data-toggle="modal" data-target="#update-expense-modal">Update</button>
        <form class="delete-expense">
          <input type="number" placeholder="Expense ID" value="{{expense.id}}" name="expense[id]" hidden required>
          <input type="submit" class="btn-xs btn-default" value="Delete">
        </form>
        <hr>
      {{/each}}
    </div>
  </div>
  <br>
  <a class="backToBudgets" href="#">View All Budgets</a>
</div>
