<div id="show-budget-info">
  <h3>{{month}} Budget</h3>
  <p>Income: {{budget.income}}</p>
  <p>Budget: {{budget.month_budget}}</p>
  <p>Total Spent: {{total}}</p>
  <p>Total Remaining: {{remainder}}</p>
  <form data-id="{{budget.id}}" class="delete-budget">
    <input type="number" value="{{budget.id}}" name="budget[id]" hidden>
    <input type="submit" class="btn-default btn-xs" value="Delete Budget">
  </form>

  <a class="backToBudgets" href="#">Back to Budgets</a>
</div>
